pandas==2.2.0
tqdm==4.66.2
requests==2.31.0
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-dotenv==1.0.1
coloredlogs==15.0.1
awswrangler==3.6.0
google_spreadsheet==0.0.6

# Development only
pylint==2.17.0
black==23.1.0
